$black:             #1B1C1E;
$dark-gray:         #15171A;
$medium-gray :      #2C2D32;
$light-gray:        #313435;
$background-color:  #1F2425;
$white:             #F9FCFB;
$main-color:        #56C6A6;
$secondary-color:   #F3A620;
